<div layout="column" layout-align="center center" style="height: 100% !important;">

  <div class="" layout="column" layout-align="center center">
    <img src="assets/img/ico-sos.png" style="padding: 50px 10px;"/>
  </div>

  <md-button type="button" style="width: 85%; margin-bottom: 10px; text-align: center;" class="md-raised md-secondary" onclick="document.getElementById('llamar').click();">LLAMAR</md-button><br/>
  <a style="display: none;" class="btn md-raised md-secondary" href="tel://08003336524" id="llamar">LLAMAR</a>
</div>