<!--
<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 flex md-truncate>Mis Denuncias</h2>
    <md-icon ng-click="refresh()">refresh</md-icon>
  </div>
</md-toolbar>
-->

<div layout="column" ng-cloak class="orders notificaciones">

  <!-- orders -->
  <div ng-if="notificaciones.length == 0" layout-padding layout="column" layout-align="center center" class="notResult">
    <md-icon style="font-size: 84px; color:#bbbbbb; margin-left: 37%;">warning</md-icon><br/><br/>
    <p>No hay resultados para los filtros seleccionados</p>
  </div>

  <div ng-if="denuncias != null" ng-repeat="den in denuncias track by $index">

    <div class="fecha" ng-if="den.fechaGrupal != null">
      <md-icon style="fill:#787878; font-size:16pt;">schedule</md-icon>&nbsp;{{ den.fechaGrupal | toYear | date : 'EEEE dd MMMM yyyy' }}
    </div>

    <md-card ng-click="verDenuncia(den)">
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-sm card-media" layout md-colors="{background:'grey'}">
            <span ng-if="den.siniestroTipoIcono == ''"><img src="assets/img/logo-psdv.png" width="50" style="width:50px; height:50px;"></span>
            <span ng-if="den.siniestroTipoIcono != ''"><md-icon style="fill:#white; font-size:24pt; margin-left: 9px; margin-top: 7px;">{{ den.siniestroTipoIcono }}</md-icon></span>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">{{ den.siniestroTipo }}</span>
          <span class="md-subhead description">{{ den.relato }}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="polizas" ng-show="denunciaActiva == den.id">
      <md-card-content>
        <div class="card-datos" layout="column">
          <div layout="row"><span class="label" flex="30">Tipo</span><span class="data" flex>{{ den.siniestroTipo }}</span></div>
          <div layout="row"><span class="label" flex="30">Estado</span><span class="data" flex>{{ den.siniestroEstado }}</span></div>
          <div layout="row" ng-if="den.conductor == 1"><span class="label" flex="30">Conductor</span><span class="data" flex>T&iacute;tular</span></div>
          <div layout="row" ng-if="den.conductor != 1"><span class="label" flex="30">Conductor</span><span class="data" flex>Otro</span></div>
          <div layout="row" ng-if="den.conductor != 1"><span class="label" flex="30">Nombre del Otro</span><span class="data" flex>{{ den.otro_nombre }}</span></div>
          <div layout="row" ng-if="den.tercero_nombre != NULL"><span class="label" flex="30">Nombre Tercero</span><span class="data" flex>{{ den.tercero_nombre }}</span></div>
          <div layout="row" ng-if="den.tercero_telefono != NULL"><span class="label" flex="30">Telefono Tercero</span><span class="data" flex>{{ den.tercero_telefono }}</span></div>
          <div layout="row"><span class="label" flex="30">Fecha</span><span class="data" flex>{{ den.fecha | date : 'dd-MM-yyyy' }}</span></div>
          <div layout="row"><span class="label" flex="30">Direcci&oacute;n</span><span class="data" flex>{{ den.ubicacion }}</span></div>
          <div layout="row"><span class="label" flex="30">Ubicaci&oacute;n</span><span class="data" flex>{{ den.ubicacion_map }}</span></div>
          <div id="map_{{den.id}}" class="md-card-image" style="height: 300px;"></div>
        </div>
        <!--
        <span class="md-headline">{{ pol.nombreAseguradora }}</span>
        <span class="md-subhead description">{{ pol.nombreProductor }} - {{ pol.nombrePago }}</span>
        -->
      </md-card-content>
    </md-card>

  </div>
  <!-- END orders -->

</div>