<style>
@media screen and (min-device-width : 320px) and (max-device-width : 600px) {
  body {
      background:white;
   }
}
</style>

<div layout="column" layout-padding ng-cloak class="login">
  <md-card>
    <form method="post" name="loginForm" ng-submit="sigin()">
      <md-content class="padding-top">
        <md-input-container class="md-icon-float md-block">
          <label>Email</label>
          <md-icon>email</md-icon>
          <input required type="email" name="email" ng-model="login.email" minlength="10" maxlength="150" ng-pattern="/^.+@.+\..+$/" />
          <div ng-messages="registrloginForm.email.$error">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">El Email debe tener entre 10 y 150 caracteres y ser una dirección de v&aacute;lida.</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <label>Password</label>
          <md-icon>lock</md-icon>
          <input ng-model="login.pass" name="pass" type="password" required minlength="4" maxlength="15">
          <div ng-messages="loginForm.pass.$error">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">El Password debe tener entre 4 y 15 caracteres.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" layout="column">
          <md-button class="md-raised md-primary" type="submit">Ingresar</md-button>
          <a ui-sref="register"><md-button class="md-raised md-primary">Registrarse</md-button></a>
          <a ui-sref="forgot" class="link-forgot"><md-button class="md-primary">Olvide mi Contraseña</md-button></a>
        </md-input-container>
      </md-content>
    </form>
  </md-card>
</div>